/* GOOGLE FONTS START */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

/* GOOGLE FONTS END */

/*=========== GENERAL STYLING  START  ===========*/


*{
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}


:root{
	--blue: #0061ff;
	--dark: #25282B;
	--light: #E5EFFB;
	--gray: #7F7F7F;
	--white: #ffffff;
	--cloud: #ecf0f1;
}

.darkTheme{
--blue: #E5EFFB;
--light: #0061ff;
--dark: #ffffff;
--white: #25282B;
--gray: #ecf0f1;
}

/*=========== GENERAL STYLING  END  ===========*/

/*=========== HEADER STYLING  START  ===========*/

body{
	
}

.animation{
	opacity: 0;
	transform: translateY(12em);
}

header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	padding:15px 5px ;
	background: var(--light);
	/*box-shadow: 0 0 5px var(--white);*/
	z-index: 999;
}

/* logo styling */
.logo{
	align-self: flex-start;
	position: relative;
	z-index: ;
}
.logo a{
 text-decoration: none;
 text-transform: ;
 font-size: 30px;
 font-weight: 700;
 color: var(--blue);
}

/* nav links */
.links{
	align-self: flex-start;
}
.links ul{
	display: flex;
	justify-content: center;
	align-items:flex-start; 
	
}
.links a{
	color: var(--dark);
	text-decoration: none;
	font-weight: 600;
}

.links ul li{
	margin: 0 20px;
	cursor: pointer;
	font-size: 20px !important;
	
}

.links a{
	text-transform: uppercase;
	position: relative;

}
.links h3 i{
	font-size: 20px;
	position:relative;
    right: 0;
    margin-left: 5px;
}
.links ul li > a:hover{
	color: var(--blue);
	transition: .5s;
}
#up, #upp{
	display: none;
}
.drop ul{
	padding: 20px;
	display: none;
	position: fixed;
	background: var(--light);
	z-index: 1;
	color: var(--dark);

}
.drop ul li a{
	font-size: 15px;
	font-weight: 500 !important;
	margin: 10px;
}
.drop ul li a:hover{
	color:var(--blue) ;
	transition: .5s;
}
#uppp{
	display: none;
}
/*user account */
.acct{
	align-self: flex-start;
	background: var(--blue);
	padding: 5px;
	cursor: pointer;
	color: var(--light);
	
	border-radius: 5px;
	overflow: hidden !important;
}
.ac{
	font-size: 20px;
	font-weight: 600;
	padding: 0 !important;
	list-style: none;

}

.users{
	padding: 10px ;
	min-width: 120px;
	border-radius: 5px;
	display:none;
	justify-content: center;
	transition: 1s;
	position: fixed;
	background: var(--blue);


}
.users a{
  text-decoration: none;
  font-size: 20px;
  color: var(--white);
  margin: 10px 0;
  font-weight: 600;

}
.users a:hover{
	color: var(--dark);
	transition: .5s;
}

/*moon and sun*/

.moon{
	font-size: 30px;
	color: var(--dark);
	font-weight: bold;

}
.sun{
	font-size: 30px;
	color: var(--white);
	font-weight: bold;
	display: none;
}
/*menu_bar*/

.bars{
	
	display: none;
	align-self: flex-start;
	
}
.bars i{
	border-radius: 5px;
	padding: 5px;
	background: var(--dark);
	font-size: 30px;
	top: 0;
	color: var(--light);
	font-weight: 800;
}

/*============ HEADER END ===========*/


/*============ WELCOME NOTE START ===========*/
.welcome{
	display: flex !important;
	justify-content: space-around !important;
	align-items: center;
	margin-top: 60px;
	margin-right: 0 !important;
	padding: 20px 30px !important;
	min-height: 100vh;
	
}
.welcom{
	margin-top: 50px;
	
}
.l{

}
.l a{
	text-decoration: none;
	font-size: 30px;
	margin: 10px 0;
	color: var(--white);
	padding: 0 5px;
	font-weight: bold;
	background: var(--blue);
width: fit-content;
border-radius: 5px;
}
.l a:hover{
	transition: 1s;
	background:var(--light) ;
	color: var(--blue);
}
.well{
font-size: 50px;
font-weight: 550;
}
.well strong{
	color: var(--blue);
}
.im{
	font-size: 25px;

}
.dc{
	position: relative;
	z-index: 0 !important;
	z-index: 0;
}
.img{
	margin-top: 30px;
	position: relative;

	background: var(--blue);
	border-radius: 100%;
}
.img:hover{
	transition: 2s;
		background: linear-gradient(var(--blue), var(--light),var(--light));
}
.img img{
	width: 100%;
	height: 400px;
	position:;
	bottom: 0;

}
.img img:hover{
	transition: 1s;
margin:0 20px ;
}
.serve{
	position: absolute;
	top: 70px;
	display: flex;
	right: 10px;
	background: var(--white);
	padding: 5px 20px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px var(--light), -2px -2px 5px var(--cloud);

}
.serve i{
	background: var(--light);
	color: var(--blue);
	padding: 10px;
	margin-right: 10px;
	font-size: 40px;
	border-radius: 100%;
}
.serve i:hover{
	transition: 1s;
	color: var(--white);
	background: var(--blue);
}
.serve .two{
	
	
	text-align: center;
}
.two .t{
font-weight: 700;
color: var(--dark);
font-size: 20px;
}
.two .s{
	font-weight: bold;
	color: var(--blue);
	font-size: 12px;

}
.prove{
	position: absolute;
	background: var(--white);
	bottom: 30px;
	padding: 5px 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px var(--light), -2px -2px 5px var(--cloud);

}
.prove > span{
	display: block;
	justify-content: center;
	text-align: center;
	font-size: 15px;
	font-weight: bolder;
}
.pp{
	display: flex;
	justify-content: center;
}
.pp .imgF{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: var(--blue);

}
.imgF:hover{
	transition: 1s;
	background: var(--light);
}
.pp span{
	padding: 5px;
	font-size: 10px;
	border-radius: 100%;
	background: var(--blue);
	font-weight: bolder;
	cursor: pointer;
}
.pp span:hover{
	transition: 1s;
	background: var(--light);
}
/*============ WELCOME NOTE END ===========*/


/*============ SOLUTION CLASS START ===========*/

.solution{
	background: var(--white);
  padding: 80px 10px;
}

.heading .main{
color: var(--blue);
font-size: 20px;
font-weight: bold;
}
.heading .subheading{
	font-size: 30px;
	font-weight: bolder;
	color: var(--dark);
}
.steps{
	display: flex;
	justify-content: center !important;
}
.steps div{
	max-width: 300px;
	margin: 20px 5px;
box-shadow: 5px 5px 0px var(--gray), -2px -2px 4px var(--light);
border-radius: 10px;
transition: .5s;
padding: 15px;
cursor: pointer;
}
.steps div:hover {
	transition: .5s;
box-shadow: 2px 2px 5px var(--gray), -10px -10px 0px var(--dark);
background: var(--light);
border-radius: 10px;
padding: 15px;
}
.steps i{
	font-size: 50px;
	/*background:var(--light);*/
	color: var(--blue);
	padding: 10px 20px;
	border-radius: 100%;
}

.steps .headin{
	font-size: 20px;
	font-weight: bold;
}
.steps .subHeading{
	font-size: 17px;
	font-weight: 500;
	color: var(--gray);
}
/*============ SOLUTION CLASS END ===========*/


/*============ ABOUT CLASS START ===========*/
.about{
	background: var(--white);
	display: flex !important;
	justify-content: center !important;
	padding: 40px 20px;
	
	border-radius: 20px;
}

/*abtImg section*/

.abtImg{
	position: relative;
	z-index: 0 !important;
}
.abtImage{
background: var(--light);
border-radius: 20px;
margin: 20px;
display: flex;
	justify-content: center;
}
.abtImage:hover{
	transition: 1s;
	background: var(--blue);
	box-shadow: 2px 2px 4px var(--light), -5px -5px 0px var(--dark);
}
.abtImage img{
	max-width: 350px;
	max-height: 350px;
}
.group{
	display: flex;
	justify-content: center; !important;
	position: absolute;
	bottom: 5px;
}
.group > span{
	display: block;
	text-align: center;
	background: var(--white);
	box-shadow: 0 10px 2px -2px var(--light);
	border: solid 2px var(--light);
	padding: 5px 10px;
	border-radius: 5px;
	color: var(--blue);
	font-weight: 500;
	cursor: pointer;
	
}
.group > span:hover{
	transition: 1s;
	background: var(--light);
	box-shadow: 2px 2px 4px var(--white), -2px -2px 4px var(--white);
}
.group span span{
	font-weight: 800;
	
	color: var(--dark);
}
/*
.phy{
	position: absolute;
	bottom: 5px;
	left: 21%;
	border-right: 5px var(--light);
}
.customer{
	position: absolute;
	bottom: 5px;
	left: 39.2%;
}
.feed{
	position: absolute;
	bottom: 5px;
	right: 20%;
}
*/
.abtMain{
	margin:  ;
}

.abtUs{
	font-size: 30px;
	font-weight: 600;
	color: var(--blue);
	margin: 20px 0;
	
}

.desc{
	font-size: 16px;
	color: var(--gray);
	font-size: 500;
}

.bt{
	background: var(--blue);
	border-radius: 5px;
	width: fit-content;
}
.bt:hover{
	background: var(--light);
}
.bt:hover a{
	transition: 1s;
	background: var(--light);
	color: var(--dark);
}
.bt a{
	text-decoration: none;
	color: var(--white);
	font-size: 25px;
	margin: 20px 10px;
}
/*============ ABOUT CLASS END ===========*/


/*================BOOK APPOINTMENT START===========*/


.aptH{
	font-size: 25px;
	font-weight: bolder;
	color: var(--blue);
}
.aptSubH{
font-size: 20px;
color: var(--dark);
font-weight: bold;
}
.aptC{
	display: block;
	margin: 10px;
}
.aptC span{
	font-size: 15px;
	color: var(--dark);
	font-weight: bold;
}

.aptC span i{
	color: var(--blue);
	margin-right: 3px !important;
}
.aptL{
	margin-top: 20px;
	margin-bottom: 10px !important;
}
.aptImg{
	margin-top: 0px;
	position: relative;
	z-index: 0 !important;
	min-height: 500px;
}
.aptImage{
background: var(--light);
border-radius: 20px;
margin: 20px;
display: flex;
	justify-content: flex-end;
}
.aptImage:hover{
	transition: 1s;
	background: var(--blue);
}
.aptImage img{
	max-width: 200px;
	min-height: 350px;
}

.f{
	display: flex;
	justify-content: center !important;
	position: absolute;
	top: 0;
	left: 0;
}

.formy{
	
	display: flex;
	justify-content: center;
}
.formy form{
	background: var(--white);
/*background-color: rgba(255, 255, 255, 0.5);*/
/*box-shadow: 10px 10px 15px var(--light), -10px -10px 15px var(--blue);*/
border: 2px solid var(--light);
border-radius: 10px;
}
.formy form:hover{
    transition: 1s;
    background: var(--blue);
}
.formy form > div{
	padding: 5px 10px;
	margin: 10px;
}
.aptUs span{
	font-size: 15px;
	color: var(--dark);
	font-weight: bolder;
	margin: 10px 0;
}
.formy form div label{
	display: block;
	color: var(--dark);
	font-size: 15px;
	font-weight: bold;
}
.inputDiv{
	background: var(--cloud);
	border-radius: 5px;
	padding: 3px;

}
.inputDiv i{
	font-weight: bolder;
	display: none;

}
.good{
	color:var(--blue);
}
.bad{
	color: red;
}
.formy form input {
	max-width: 170px;
	background: var(--cloud);
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 5px;
}

.formy form select{
	max-width: 170px;
	background: var(--cloud);
	border: none;
	border-radius: 5px;
	padding: 5px;
	outline: none;
}

.appoint{
	
}
.appoint button:hover{
	background: var(--blue);
	color: var(--white);
	transition: 1s;
}
.appoint button{
	text-decoration: none;
	color: var(--blue);
	font-size: 15px;
	font-weight: bold;
	border: none;
	background: var(--light);
	padding: 5px 2px;
	margin: 5px 0;
	border-radius: 5px;
	text-align: center;
	width: 100%;
}


/*BOOKING MESSAGE*/

.booking{
	background: rgba(0, 0, 0, .70);
	position: fixed;
	top: -2000px;
	transition: 1s;
	left: 0 !important;
  z-index: 1000;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;

}


.bookingMessage{
	background: var(--blue);
	padding: 20px;
	border-radius: 10px;
  display: block;
  position: relative;
	justify-content: center;
	text-align: center;
	align-items: center;
	transition: 1s;
	text-align: center;
}
.warning{
	font-size: 50px;
	color: red;
		display: none;
}
.success{
	font-size: 50px;
	color: white;
}
.selected{
	font-size: 20px;
	font-weight: bold;
	color: var(--light);
	text-transform: uppercase;
} 
.status{
	font-size: 20px;
}
.x{
	position: absolute;
	top: -5px;
	right: 10px;
	color:var(--white);
	font-size: 30px;
	cursor: pointer;
	font-weight: bolder;
}
.x:hover{
	transition: 1s;
	color: red;
}
/*================BOOK APPOINTMENT END===========*/

/*============ REVIEWS CLASS START===========*/

.reviews{
	background: var(--white);
	padding: 0 30px;
}

.rvMainH{
	color: var(--blue);
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0;
}
.rvSubH{
	color: var(--dark);
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0;
}
.rv{
	display: flex !important;
	justify-content: space-around !important;
	align-items: center !important;
}
.rvP{
	
	margin: 20px 5px;
	display: flex;
	align-items: center;
	
	border-radius: 10px;
	padding: 5px;
}
.rvP-active{
box-shadow: 2px 2px 5px var(--light), -2px -2px 5px var(--light);
}
.rvP img{
	width: 70px;
	height: 70px;
	background: var(--blue);
	border-radius: 50%;
	justify-self: flex-start;
}
.rvName{
	margin: 0 30px;
	text-align: center;
}

.rvN{
	font-size:20px ;
	font-weight: bold;
	color: var(--dark);
}
.rvS{
	font-size: 15px;
	color: var(--gray);
}
.pRevH{
	display: flex;
	margin: 20px 0;
	text-align: center !important;
}
.pEx{
	justify-self: flex-start;
	text-align: center;
}
.pEx strong{
	font-size: 19px;
}
.pEx i{
	color: var(--blue);
}
.pQu{
	justify-self: flex-end;
	margin-left: 10%;
}
.pQu i{
	font-size: 50px;
	color: var(--light);
}

.pMainRev{
	font-size: 18px;
	font-weight: 560;
	color: var(--gray);
}
/*============ REVIEWS CLASS START===========*/

/*============ FAQ CLASS START===========*/
.FAQ{
	background: var(--white);
	padding:10px 20px 60px 20px;
}
.FaqH{
	margin: 10px 0;
}

.FaqMainH{
	font-size: 40px;
	color: var(--blue);
	font-weight: bold;
}
.FaqSubH{
	font-size: 20px;
	color: var(--dark);
	font-weight: bold;
}
.faQ{
	border-bottom: 1px solid var(--blue);
	/*border-bottom: 1px solid var(--blue);*/
	padding: 5px;
}

.faq{
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
.question{
	font-size: 17px;
	color: var(--dark);
	font-weight: bold;
	position: relative;
	cursor: pointer;
}
.plus{
	
	font-size: ;
	color: var(--blue);
	border-radius: 100%;
position: absolute;
top: 0;
right: 0;
}

.minus{
background: var(--blue);
	color: var(--white);
}
.answer{
	font-size: 15px;
	font-weight: 580;
	color: var(--gray);
	display: none;
}
.faqImg{
padding-top:35px ;
}
.faqImg div {
	background: var(--light);
	border-radius: 10px;
	position: relative;
	max-width: 400px;

}
.faqImg div{
	transition: 1s;
	background: var(--blue);
}

.faqImg div img{
}
/*============ FAQ CLASS END===========*/

/*============ FOOTER START===========*/
footer{
	background: var(--light);
}
.foot{
	padding: 20px;


}
.descrip{
	padding: 20px;
	max-width: 250px;
}
.descripMainH{
	font-size: 25px;
	color: var(--blue);
	font-weight: bold;
}
.descripSubH{
	font-size: 18px;
	color: var(--dark);
	font-weight: 560;
}
.soc i{
	font-size: 20px;
	background: var(--white);
	border-radius: 50%;
	padding: 10px;
	border: 0.1px solid var(--blue);
	margin-right:10px ;
}
.soc i:hover{
	transition: 1s;
	background: var(--blue);
	color: var(--white);
}
.importantL{
	padding: 20px;
}
.importantL p{
	font-size: 25px;
	color: var(--dark);
	font-weight: bold;
}
.importantL  div a{
	display: block;
	font-size: 20px;
	text-decoration: none;
	color: var(--gray);
	margin: 5px 0;
	font-weight: 570;
}
.subscribe{
	padding: 20px;
}
.subscribe p{
	font-size: 25px;
	font-weight: bold;
}
.subscribe div form{
	display: block;
	justify-content: center;
}
.subscribe form input{
	display: flex;
	justify-content: center;
	
width: 100%;
	background: var(--white);
	border:solid 2px var(--cloud);
	padding: 15px;
	color: var(--dark);
	border-radius: 10px;
	margin: 15px 0;
	text-align: center;
	font-size: 20px;
}
.subscribe form button{
	width: 100%;
	border: none;
	background: var(--blue);
	text-align: center;
	color: var(--white);
	padding: 5px;
	font-size: 15px;
	border-radius: 5px;
	font-weight: bold;
}
.copy p{
	font-size: 17px;
	margin: 20px;
	color: var(--dark);
}
.dev a{
	text-decoration: none;
	color: var(--gray);
text-align: center;
font-size: 15px;
}
.dev span{
	font-weight: bold;
	color: var(--dark);
}
/*============ FOOTER END===========*/

/*======== RESPONSIVENESS ======*/

@media(max-width: 768px) {


/*nav links*/
	.links {
	display: block;
	position: fixed;
	top: 0;
	left: -1000px;
	transition: 1s;
	justify-content: center;
background: var(--light);
color: var(--light);
width: 100%;
height: 100vh;
	padding-top: 100px;
		
}
.links > ul{
	display: block;

}
.links ul li {
	display: block;
	color: var(--dark);
	margin: 20px 0;
	font-size: 20px;
}
.cont a{
	color: var(--light);
}
.links div{
	margin: 30px ;
}

.bars{
	display: block;
	position: relative;
	z-index: 2;
}
.logo a{
	font-size: 20px;
	font-weight: bold;
}
.ac{
	font-size: 15px;
}
#close{
	display: none;
}
#open{
	font-size: 20px;
}
#open:hover{
	background: var(--light);
	border: solid 2px var(--dark);
	color: var(--dark);
}
#close:hover{
	background: var(--light);
	border: solid 2px var(--dark);
	color: var(--dark);
}

.well{
	font-size: 30px;
}
.im{
	font-size: 18px;
}

.teamlead, .slide{
	padding: 0;
}

.aptImage img{
	max-width: 150px;
	min-height: 350px;
}

.aptC span{
	font-size: 10px;
}
.aptSubH{
	font-size: 15px;
}
.faqImg{
	display: none;
}


.serve{
	top: 100px;
	padding:5px 10px;
}
.serve i{
	font-size: 30px;
}
.two .s{
	font-size: 10px;
}
.two .t{
	font-size: 10px;
}
.heading .subheading{
	font-size: 22px;
}
.booking{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	position: fixed;
/*	top: 25%;
	left: 30%;*/
}

}